%legend Register Account

= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
    
    / ERROR MESSAGES
    = devise_error_messages!
    
    = f.hidden_field :plan, :value => params[:plan]
    
    .form-group
        = f.label :first_name
        = f.text_field :first_name, class: 'form-control'
        
    .form-group
        = f.label :last_name
        = f.text_field :last_name, class: 'form-control'
        
    .form-group
        = f.label :address
        = f.text_field :address, class: 'form-control'
    
    .form-group
        = f.label :email
        %br
        = f.email_field :email, class: 'form-control'
        
    .form-group
        = f.label :password
        -if @minimum_password_length
            %em
                (
                =@minimum_password_length
                characters minimum)
        %br
        = f.password_field :password, autocomplete: "off", class: 'form-control'
        
    .form-group
        = f.label :password_confirmation
        %br
        = f.password_field :password_confirmation, autocomplete: "off", class: 'form-control'
        
    .form-group
        %script.stripe-button{ src: "https://checkout.stripe.com/checkout.js",
      data: {amount: 100*100, description: 'Basic Plan', key: Rails.application.secrets.stripe_publishable_key}}
        