.page-header
    %h2 Pricing Plans
    
.row
    .col-md-12
        .pull-right
            = link_to new_pricing_plan_path, class: 'btn btn-default btn-xs' do
                %i.fa.fa-plus
                New Pricing Plan
                
.row
    .col-md-12
    
        %table.table.table-responsive.table-striped.table-hover
            %thead
                %tr
                    %th #
                    %th Name
                    %th Monthly Price
                    %th State
                    %th
            %tbody
                - @plans.each_with_index do |plan, index|
                    %tr
                        %td= index + 1
                        %td= plan.name
                        %td= plan.price
                        %td= plan.state
                        %td
                            .btn-group.btn-group-xs
                                - if can? :edit, plan
                                    = link_to [:edit, plan], class: 'btn btn-default' do
                                        %i.fa.fa-pencil
                                - if can? :destroy, plan
                                    = link_to plan, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' do
                                        %i.fa.fa-trash
            