!!! 5

%html
%head
    %title= "#{APP_NAME}"
    
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    
    = stylesheet_link_tag "https://bootswatch.com/#{BOOTSTRAP_THEME}/bootstrap.min.css"
    
    = stylesheet_link_tag "https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"
    
    = csrf_meta_tags
    
    /= favicon_link_tag 'favicon.ico'
    
%body
    .container
        = yield

        
                